@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
  display: none !important;
}

.ul {
  list-style: disc !important;
  list-style-position: inside !important;
}

.ol {
  list-style: decimal !important;
  list-style-position: inside !important;
}
.btn {
}
.note-editable ul {
  list-style: disc !important;
  list-style-position: inside !important;
}

.note-editable ol {
  list-style: decimal !important;
  list-style-position: inside !important;
}


.tags::-webkit-scrollbar {
  height: 4px;

  background: #edf2f7;
}

.tags::-webkit-scrollbar-track {

  background: #f7fafc;
}

.tags::-webkit-scrollbar-thumb {
  width: 0.2rem;
  background: #60A5FA;
}

.tags::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}
