@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none !important;
}

.ul {
    list-style: disc !important;
    list-style-position: inside !important;
}

.ol {
    list-style: decimal !important;
    list-style-position: inside !important;
}
.btn {
}
.note-editable ul {
    list-style: disc !important;
    list-style-position: inside !important;
}

.note-editable ol {
    list-style: decimal !important;
    list-style-position: inside !important;
}
